/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #384357;
    --secondary-color: #C8B570;
}
img{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/couple6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Title */
.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title-image{
    width: 10%;
}
.title-image > img{
    width: 100%;
}
.title > h1{
    /* width: 100%; */
    font-size: 50px;
    color: var(--secondary-color);
    margin-left: 20px;
    margin-top: 30px;
}
/* Landing block */
.landing-block{
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
/* Signup */
.landing-signup{
    height: 100%;
    display: block;
}
.landing-signup h2, .landing-signup h3{
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}
.landing-signup h2{
    padding-top: 15px;
    font-size: 30px;
}
.landing-signup h3{
    padding-bottom: 25px;
    font-size: 12px;
}
.landing-signup input{
    border: none;
    outline: none;
    width: 100%;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #d9d9d9;
}
.information-row1, .information-row2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
}
.input-name, .input-email, .input-number, .input-age{
    width: 35%;
    height: 30px;
    background-color: #d9d9d9;
}
.information-row3{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}
.information-row3 select{
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    outline: none;
}
.choose-gender, .choose-gender-intersted{
    width: 35%;
    height: 30px;
    background-color: #d9d9d9;
    position: relative;
}
.continue-button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    border-radius: 100px;
}
.continue-button > button{
    font-size: 18px;
    width: 40%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
}
.landing-signup p{
    font-size: 12px;
    padding-top: 15px;
    color: #ffffff;
    text-align: center;
}
span{
    cursor: pointer;
}
/* Continue signup */
.landing-continue-signup{
    height: 100%;
    display: none;
}
.landing-continue-signup h2, .landing-continue-signup h3{
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}
.landing-continue-signup h2{
    padding-top: 15px;
    font-size: 30px;
}
.landing-continue-signup h3{
    padding-bottom: 25px;
    font-size: 12px;
}
.information-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-continue-signup input{
    border: none;
    outline: none;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #d9d9d9;
}
.input-interested, .input-location, .input-password{
    margin-top: 30px;
    width: 80%;
    height: 30px;
    background-color: #d9d9d9;
}
.submit-button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    border-radius: 100px;
}
.submit-button > button{
    font-size: 18px;
    width: 40%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
}
.landing-continue-signup p{
    font-size: 12px;
    padding-top: 15px;
    color: #ffffff;
    text-align: center;
}
/* Login */
.landing-login{
    height: 100%;
    display: none;
}
.landing-login h2, .landing-login h3{
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}
.landing-login h2{
    padding-top: 15px;
    font-size: 30px;
}
.landing-login h3{
    padding-bottom: 25px;
    font-size: 12px;
}
.landing-login input{
    border: none;
    outline: none;
    width: 100%;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #d9d9d9;
}
.login-email, .login-password{
    margin-top: 30px;
    width: 80%;
    height: 30px;
    background-color: #d9d9d9;
}
.login-button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    border-radius: 100px;
}
.login-button > button{
    font-size: 18px;
    width: 40%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
}
.landing-login p{
    font-size: 12px;
    padding-top: 15px;
    color: #ffffff;
    text-align: center;
}